@{
    ViewData["Title"] = "Home Page";
}

<partial name="~/Views/Shared/_FeaturedPartial.cshtml" />

<partial name="~/Views/Shared/_CategoriesPartial.cshtml" />

<partial name="~/Views/Shared/_OfferPartial.cshtml" />
<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                     <img class="img-fluid w-30"  src="~/source-images/product-1.jpeg" alt=""/>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-2.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-3.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-4.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-5.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-6.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-7.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-8.jpeg" alt="" />
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-9.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-10.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-11.jpeg" alt="" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-12.jpeg" alt="" />
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" style="margin-right:25px; width:150px;">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-30" src="~/source-images/product-13.jpeg" alt="" />
                </div>
            </div>
        </div>



    </div>
</div>
<!-- Products End -->
<partial name="~/Views/Shared/_SubscribePartial.cshtml" />

<partial name="~/Views/Shared/_ProductsPartial.cshtml" />