@{
    ViewData["Title"] = "About Us";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <h1 class="text-center">About Us</h1>
        <div class="row">
            <p>
                Our journey started with an idea, an idea to do something prosperous, and that idea gave birth to UITOUX. Originating from Ukrainian, UITOUX best translates to let us be. Operationally, brand UITOUX exists in the world of car spare parts. Here, it is a call for prosperity of buyers, sellers, makers, and brands- the collective well being.

                When we came into existence in 2015, our team had a very clear aim of becoming India's largest online marketplace for car spare parts, and today, after almost 6 years of immense hard work, countless hours of dedicated efforts, and over 1.5 million active users a month, we can proudly say that we are country's largest online marketplace for car spare parts and the first choice for anyone looking to buy car spare parts online. But we still have a long way to go and believe us when we say, WE HAVE NO PLANS TO STOP!
            </p>
        </div>
    </div>
</div>