@{
    ViewData["Title"] = "Buyer Terms And Conditions";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <h1 class="text-center">Buyer Terms and Conditions</h1>
        <div class="row">

            These Buyer terms and conditions (the “Buyer Terms and Conditions”) shall be applicable specifically to Buyers (defined hereunder) in addition to the “General Terms of Use” available at https://UITOUX.com/pages/static/terms-of-use/. These Buyer Terms and Conditions describe the terms on which a Buyer can avail the Buyer Services (defined hereunder) through the Platform.

            In the event of any conflict or inconsistency between the General Terms of Use and these Buyer Terms and Conditions, then the provisions of these Buyer Terms and Conditions shall prevail, to the extent of such conflict or inconsistency. Please read these buyer terms and conditions carefully before registering as a buyer on the platform. The Buyer's registration on the platform shal signify the unconditional acceptance by the buyer terms and conditions and the agreement to be legally bound by the same.
            A. Defined Terms
            All defined terms used in these Buyer Terms and Conditions shall have the same meaning as assigned to them under the General Terms of Use, unless otherwise specifically defined herein. The Buyer Terms and Conditions, together with the General Terms of Use, shall be referred to as the ‘Terms of Use’ of the Platform in relation to the Buyer. The following defined terms shall apply in these Buyer Terms and Conditions:

            Buyer” shall mean a buyer of the Products listed on the Platform.
            “Buyer Services” shall mean the services described in Clause 3 of these Buyer Terms and Conditions.
            “Logistics Partner” shall mean a logistics service provider approved by UITOUX and communicated from time to time.
            “Seller” shall mean any person registered on the Platform as a seller of the Products listed on the Platform.
            “Shipment” shall mean any Product, which will be transported by the Logistics Partner under a single waybill.
            B. Registration
            The Buyer shall be permitted to access the Platform and use the Buyer Services, only upon creating an Account by registering on the Platform.
            The Buyer’s ability to continue using the Platform to avail the Buyer Services is subject to continued registration on the Platform.
            In order to register as a Buyer on the Platform, the Buyer will be required to create a user name and password, and provide such details as indicated as necessary, including but not limited to the Buyer’s name (or name of company/ other entity/individual, as the case may be), address, phone number and email address.
            C. Buyer Services
            The Buyer Services are only being provided to facilitate purchase of Products on the Platform, and UITOUX shall not be responsible for the transaction to be entered into between a Buyer and a Seller. All commercial and contractual terms for any sale of the Products through the Platform are those offered by the Seller only, and the Products shall be sold on such terms as agreed upon between the Seller and the Buyer alone. Such commercial and contractual terms include without limitation, Product prices, terms, date, period, warranties and after-sales services. UITOUX does not determine, advice, have any control over, or in any way involve itself in the offering or acceptance of such commercial and contractual terms between the Sellers and the Buyers. UITOUX shall not and is not required to mediate or resolve any dispute or disagreement between the Buyer and the Seller. The Platform provides the following services for Buyers (collectively, “Buyer Services”):

            It allows Buyers to view the profiles of Sellers registered on the Platform and the Products offered for sale by such Sellers, along with any offers, packages and prices;
            It facilitates regular interface of Buyers with their chosen Seller to order and pay for Products, provided the chosen Seller has availed of the facility to accept orders and online payment through the Platform;
            It enables the Buyers to receive order information acknowledgements and dispatch information acknowledgements;
            It may provide Buyers with the option to post feedback and ratings in relation to any Seller from whom the Buyer has purchased any Product;
            It facilitates periodic service reminders from Sellers to the Buyers, in relation to the Products purchased, if applicable;
            It facilitates shipment, return or exchange of Products, where applicable, or cancellation of orders/Products;
            It serves as a medium to drive improvements in the quality of Products sold by Sellers based on Buyer feedback; and
            Any other services as may be provided or offered by UITOUX to the Buyers from time to time.
            D. Conditions Applicable to Buyers
            UITOUX has not independently verified and does not guarantee the truthfulness of the credentials of the Sellers and any description of their business, authorisations, Products including the nature of Products, pricing, location of business, contact details, etc. provided by the Sellers. Such information has been collected from the concerned Seller, who has guaranteed the truthfulness and completeness of the same and UITOUX shall not in any manner, be responsible or liable for such information.
            Any orders placed by Buyers for Products through the Platform shall be subject to the Terms of Use and the Buyers are deemed to have read and accepted the same at the time of ordering the Product.
            It shall be the responsibility of the Sellers to honour the Buyers’ orders. UITOUX is not responsible, and has no liability for the genuineness, the quality or completeness of the Products sold by the Sellers to Buyers, including any delay in the delivery of the Products, wrongful delivery of the Products, etc., or any offers, discounts or packages communicated by the Sellers, or for any misconduct or fraud committed by a Seller or its employees, representatives, etc. UITOUX cannot be called upon to provide any guarantee/security with respect to the sale of Products by the Sellers
            Buyers may conduct searches on the Platform to look for Sellers to order the Products. The results for searches are derived on the basis of an algorithm which considers various factors, including but not limited to, the proximity to location from where the order has been placed, Buyer reviews and feedback, pricing, etc. Alternatively, the Sellers may be listed on the basis of Buyer-selected search criteria. In either case, UITOUX does not have any control over the results of searches carried out by Buyers on the Platform. The result of any search for Sellers conducted by Buyers on the Platform shall not be construed as the opinion or preference of UITOUX.
            Buyers may provide feedback, review, ratings and comments about the Seller. UITOUX is in no manner responsible or liable for the same. All views and opinions expressed on the Platform by the Buyers, are those of the individual Buyers only, and do not in any way reflect the opinion of UITOUX. UITOUX shall not, and is not required to, mediate or resolve any dispute or disagreement between any Seller and Buyer.
            When a Buyer places an order to purchase a Product from the Platform, the Buyer will receive an e-mail confirming receipt of the Buyer’s order and containing the details of the Buyer’s order. The e-mail is acknowledgement that UITOUX has received the Buyer’s order on the Platform, and it does not confirm acceptance by the Seller of the Buyer’s offer to buy the Products ordered.
            UITOUX does not make any representation or warranty, express or implied, as to title, non-infringement, merchantability, quality, value, saleability or fitment for a particular purpose of the Products sold by the Sellers on the Platform. UITOUX does not implicitly or explicitly support or endorse the sale or purchase of the Products on the Platform.
            The risk of loss and title for the Products shall be that of the Seller until delivery of the Product to the Buyer. If there is any damage or loss caused to the Product during shipment, the Seller shall be responsible for the same.
            E. Representations and Warranties by Buyers
            Each Buyer represents and warrants the following:

            The Buyer shall provide genuine feedbacks, review, ratings and comments about the Sellers and shall not provide information which is not accurate or true;
            For all the Products listed on the Platform and purchased by the Buyer, the Buyer shall raise requests for returns, refunds and adjustments only in accordance with the Buyer Protection Policies.
            F. Payments
            No fee is presently applicable for registration on the Platform or for placing orders for Products on the Platform by a Buyer.
            For making payment for the Products bought on the Platform, Buyers have the option of to make online payments on the Platform, further details of which are available in the Buyer Policies. To the extent permitted by applicable law, UITOUX may use certain third-party vendors and service providers, including payment gateways, to process payments and manage payment card information.
            Receipts for payments made by Buyer shall be sent to Buyer’s registered email address.
            With respect to the Products bought by Buyers through the Platform, the amount and manner of payment shall be as agreed to between a Buyer and the concerned Seller. In order to make payments online, Buyers undertake to use a valid payment card, to have sufficient funds or credit available to complete the payment and have an Account on the Platform in good standing. By providing payment card information, Buyers represent, warrant, and covenant that: (i) the Buyer is legally authorized to provide such information; (ii) the Buyer is legally authorized to perform payments from the payment card account; and (iii) such action does not violate the terms and conditions applicable to the Buyers’ use of such payment card account or any applicable law. UITOUX shall use the payment card information as described in UITOUX’s privacy policy found at here.
            Buyers may add, delete, and edit the payment card account information provided from time to time through the Platform.
            Except to the extent otherwise required by applicable law, UITOUX is not liable for any payments authorized through the Platform using the Buyers’ payment card information. Particularly, UITOUX is not liable for any payments that do not complete because: (i) the Buyers’ payment card account does not contain sufficient funds to complete the transaction or the transaction exceeds the credit limit of the payment card account; (ii) the Buyer has not provided UITOUX with correct payment card information; (iii) the Buyers’ payment card has expired; or (iv) circumstances beyond UITOUX’s control (such as, but not limited to, power outages, interruptions of cellular service, or any other interferences from an outside force) prevent the execution of the transaction.
            UITOUX reserves the right to charge a cancellation fee at any time by amending the applicable Terms of Use.
            G. Disclaimers
            UITOUX does not implicitly or explicitly support or endorse the purchase of any Products on the Platform. UITOUX accepts no liability for any errors, defects or omissions, and provides no guarantee to rectify such errors, defects or omissions, whether on behalf of itself or any third parties.
            UITOUX does not own any rights or interests in the logos, images, trademark etc. displayed along with the Product.
            UITOUX shall not be responsible or liable for any non-performance or breach of any contract between Sellers and Buyers. UITOUX cannot, and does not, guarantee that Sellers and Buyers will perform the transaction(s) as concluded on the Platform. UITOUX shall not, and is not required, to mediate or resolve disputes or disagreements between Sellers and Buyers, as UITOUX is only a facilitator of the sale transaction on the Platform.
            H. Remedies
            UITOUX reserves the right to at any time and without reason:

            Limit or remove access of the Buyer to the Platform and/or the Buyer Services or any part thereof; and/or
            Delete the Account of the Buyer.
            ​I. Logistics Services
            The following conditions shall be applicable to all Product deliveries made in relation to sale transactions concluded through the Platform, by using a Logistics Partner:

            The Buyer shall pay the applicable logistics fees for the logistics services, as communicated from time to time.
            The Buyer shall be responsible for payment of all applicable taxes on the transportation, shipping and delivery of the Shipment.
            UITOUX and the Logistics Partner will not be responsible or liable in any manner for any damage to Shipments in the event of any “reverse pickup” from the consignee, or if the Buyer/consignee rejects the Shipment at the time of delivery, unless the same is on account of damage to the Shipment caused directly by the Logistics Partner. The Logistics Partner reserves the right to cancel any “reverse pickup” request without prior notice and without assigning any reason thereto. The applicable charges for such ‘reverse pick-up’ services have been provided in the Buyer Protection Policies.
            Neither UITOUX nor the Logistics Partner shall be liable in any manner for any delay or failure of delivery of any Shipment for reasons beyond the reasonable control of UITOUX or the Logistics Partner, including without limitation on account of natural disasters, accidents, fire, labour issues, theft, war, etc.
            UITOUX is partnered with Logistics Providers that deliver pan-India, and does not currently serve addresses located outside India.
            All disputes relating to the transportation, shipping and delivery of any Shipment shall be subject to the jurisdiction of the courts located in the city where such Shipment was booked and handed over to the Logistics Partner.

        </div>
    </div>
</div>