@{
    ViewData["Title"] = "Disclaimer";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <h1 class="text-center">Disclaimer - UITOUX</h1>
        <div class="row">
            <p>
                UITOUX.com ("Website") is a web-portal, owned and operated by Smart Parts Online Pvt. Ltd., (“Company”) for all kind spare parts and does not own or control any car make or spare parts brand.
                All Car Make, Marque, Model, Submodel, Modification, Variants names are respective trademarks of OEM's (“Original Equipment Manufacturer”) and UITOUX.com has no relation to them.
                The company neither endorses any aftermarket or replacement car parts nor claims any such part as genuine or OEM authorised. The company is the facilitator for all kind of spare parts sales and not acting on behalf of the OEM and/or supplier.
                All car images, logos on this site are the property of their respective owners. We do not hold any copyright in regards to these pictures . These pictures have been collected from different public sources including various websites, considered to be in public domain. If any one has any objection to display of any picture, image or text it may be brought to our notice by sending an email (contact us) and the disputed media will be be removed immediately, after verification of the claim.
                The company through its Website and Application (collectively “Platform”) offers to customer goods of relevant pages randomly, sorted or filtered by customer’s choice. No goods are intentionally prioritised in search results otherwise it will be stated clearly. It is on the sole discretion of the user to decide and opt for any kind of goods.
                The company is registered in accordance and subject to Indian Law. A marketplace doesn't own products and facilitates sales on behalf of Sellers. All sales facilitated on UITOUX.com are made by vendors only. The company will try its best to solve any questions that arise between supplier, logistics provider and customer, but does not take responsibility for miscommunications, payment or any other car parts related issues between involved parties. The company will not take any responsibility for customer’s payment or his appearance at Seller’s point of sales.
                Company while eager to provide best services and implement best practices has no responsibility for third party action or behaviour (of the vendor, customs, logistics provider or customer etc.), including price change or delivery delay.
                The company is using the standard technology available to meet the objective, provided by third parties. The company is not liable for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, technical problems or traffic congestion on the Internet/Mobile network or at any website, or any combination thereof, including any injury or damage to participants or any other person's computer related to or resulting from using the Platform.
                The company is not liable for incorrect information provided by any producer or Seller or collected from other open resources or the way it was used by the Visitor or Buyer.
                Value Added Services are provided by UITOUX.com for the benefit of customers by associating with other companies. All products supplied by UITOUX.com "as it is" as per Seller's/manufacturer's terms and conditions and UITOUX.com acts as “enabler” of that products or services.
                UITOUX accepts payments from international cards but delivery can be done on territory of India only. Orders with delivery address outside of India will be cancelled and refunded withholding 5% of received amount.
                Recommendations
                UITOUX may recommend some aftermarket or replacement car part via automatic selection based on data given by data providers. If the spare part is wrongly recommended, please, send it back with a description of mistake.
                Platform is not responsible for wrong identification made by Buyer and Seller is not liable to take product sold back.
                Anybody is welcomed to contribute by sending feedback about any mistakes found: missing configuration of cars, compatibility of spare parts or wrong description etc.
        </div>
    </div>
</div>