@{
    ViewData["Title"] = "Investor Relations";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <h1 class="text-center">Investor Relations</h1>
        <div class="row">
            <p>
                For Investor Relations inquiries please contact ir@uitoux.com

                <ul>
                    Founders:
                    <li>
                        Oleksandr
                    </li>
                    <li>
                        Sokolnikov
                    </li>
                </ul>
                
                <ul>
                    Investors:
                    <li>
                        Chernovetskyi Investment Group
                    </li>
                </ul>
                

                <ul>
                    Management Team:
                    <li>
                        Swayam
                    </li>
                    <li>
                        Singhal
                    </li>
                    <li>
                        Oleksandr
                    </li>
                </ul>

        </div>
    </div>
</div>