@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <h1 class="text-center">Privacy Policy</h1>
        <div class="row">
            <p>
                This Privacy Policy is effective as of January 01, 2021. This is our official Privacy Policy which forms part of your legal agreement with us. Please read our Privacy Policy carefully to be sure you understand how we collect and use information and under what circumstances we share information.
                By accessing the services provided by the site service UITOUX.com (“Website”), You agree to the collection and use of your data by the site/service UITOUX.com in the manner provided in this Privacy Policy. This Policy does not apply to the procedures and practices followed by entities that are not managed, owned or controlled by the Company and the site/service UITOUX.com or to the people that are not engaged, employed or managed by the Company and the site/service UITOUX.com. Our objective is to make you:

                Feel comfortable using our Websites;
                Feel secure in submitting your information to us;
                What Information do we Collect About You?
                We collect information from you when you sign up on the Website. When registering on the Website, you may be asked to enter your personal information (like your name, gender, age, language preferences, the location of residence, mobile number, etc).
                We will automatically receive and collect certain anonymous information in standard usage logs through our Web server, including computer-identification information obtained from "cookies," sent to your browser from:
                web server cookie stored on your hard drive;
                an IP address, assigned to the computer which you use;
                the domain server through which you access our service;
                the type of computer you're using.
        </div>
    </div>
</div>