@{
    ViewData["Title"] = "Return Policy";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <h1 class="text-center">RETURN, CANCELLATION AND REFUND POLICY</h1>
        <div class="row">
            <p>
                UITOUX.com (“UITOUX”) is a web portal, owned and operated by Ms Smart Parts Online Private Limited, (“Company/ We/ Us/ Our”) a Company incorporated under the Companies Act, 2013, having its registered office at AIHP Palms, Ground Floor, Plot 242 & 243, Udyog Vihar, Phase 4, Gurugram, Haryana – 122015 operating under the trademarked name “UITOUX – spare parts expert” is an online marketplace for automotive spare parts.
                We believe in easy returns, cancellation and or refund to any natural or legal person (“Customer Consumer User You Your”) interested in buying products and or services listed on the web portal and our mobile application “UITOUX – spare parts expert (singly known as platform and collectively as platforms). To facilitate such flexibility, this Return, Cancellation and Refund Policy (“Policy”) governs your use of any of our platform(s).

        </div>
    </div>
</div>