@{
    ViewData["Title"] = "Sellers Relations";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <h1 class="text-center">Sellers Relations</h1>
        <div class="row">
            <p>
                Our portal provides great opportunity to represent your goods to the widest pool of spare parts buyers in India.

                We believe that free flow of information is a compulsory condition of progress in the modern world. Internet access as a medium of this process facilitates collection and spreading the data, which is crucial for many industries, and especially for spare parts aftermarket business. Bigger customer awareness about your product leads to more sales, higher turnover, less dead inventory and free cash for further growth.

                Each Seller will get equal opportunity to

                - represents its products online

                - sell products via boodmo platform

                - obtain easy financing for marketplace related operations

        </div>
    </div>
</div>