@{
    ViewData["Title"] = "Terms Of Use";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <h1 class="text-center">TERMS AND CONDITIONS OF USE</h1>
        <div class="row">

            INTRODUCTION

            1.1. www.UITOUX.com ("UITOUX") is a web portal, owned and operated by M/s Smart Parts Online Private Limited, (“Company/ We/ Us/ Our”) a company incorporated under the Companies Act, 2013, having its registered office at AIHP Palms, Ground Floor, Plot 242 & 243, Udyog Vihar, Phase 4, Gurugram, Haryana – 122015 operating under the trademarked name “UITOUX - spare parts expert” is an online marketplace for automotive spare parts. These Terms and Conditions of Use (“Terms and Conditions” or “Terms”) govern the use and access of the web portal and our mobile application “UITOUX - spare parts expert" (singly known as platform and collectively as platforms).

            CONTRACTUAL RELATIONSHIP

            2.1 These Terms constitute a legally binding and enforceable agreement between the Company and any natural or legal person (“Customer/ Consumer/ User/ You/ Your”) interested in buying or selling any spare parts or such other services (“Services”) listed on the platforms and expressly supersede prior written agreements with you.

            ACCEPTANCE OF TERMS OF USE

            3.1. UITOUX provides data for the customer to search for required spare parts or car-related products, any information regarding cars, their maintenance, etc. (referred to hereafter as "Service") subject to the following Terms and conditions of use. By using the Service in any way, you agree to be bound by these Terms. Furthermore, when using any particular UITOUX service or services, you agree to abide by any applicable posted guidelines for all UITOUX services, which are subject to change from time to time and without any prior intimation. In case you do not agree to the Terms, you may not use or access or stop your use or access of our Services. You are requested to go through these Terms prior to accessing or using the Platforms.

            3.2. You hereby represent that you are of legal age; eighteen (18) years of age or above; and are fully able and competent to understand and agree to the Terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms, and to abide by and comply with the Terms stated therein. If you are under the age of 18 years, you may use the platform(s) only with the involvement of an adult, whether parents, guardians or any other person above the legal age.

            3.3. If you are using the platform(s)on behalf of an Organization/ Company, you agree to these Terms on behalf of that Organization/ Company and you represent that you have the authority to act on behalf of the Organization/ Company.

            3.4.   If you use any of our platform(s), you are responsible for maintaining the confidentiality of your account and password and restricting access to your computer to prevent unauthorized access to your account. You agree to accept responsibility for all activity that occurs under your account or password. You should take all necessary steps to ensure that the password is kept confidential and secure and should inform us immediately if you have any reason to believe that your password has become known to anyone else, or if the password is being, or is likely to be, used in an unauthorized manner. Please ensure that the details you provide us with, are correct and complete, and inform us immediately of any changes to the information that you provided when registering. You can access and update much of the information you provided us within the “My Profile” area of the platform(s). You agree and acknowledge that you will use your account on our platform(s) to purchase the product only for your personal use and not for business purposes unless you are a registered business/ Organization/ Company and have a registered business account with us.

            3.4. Should you object to any Terms, any guidelines, or any subsequent modifications thereto or become dissatisfied with UITOUX in any way, your only recourse is to immediately discontinue use of our platform(s) and or Services. You are, however, encouraged to inform our customer care team, who will do their best to address your concerns.

            DESCRIPTION OF PLATFORM(S)

            4.1. UITOUX aims to organise the market of automotive spare parts in India and become the most sought-after destination for everybody interested in the car service industry wherein every user shall have the possibility to identify the necessary spare part in an easy way through continuously updated catalogues.

            4.2. The platform(s) shall provide information and product(s) about applicability, replacement of spare parts or any other car-related products.

            4.3. You acknowledge that the Company is providing only a platform(s) to avail the services and does not provide any of the services listed above and that all such above stated services are provided by other independent sellers who are not employed by the Company.

            4.4. You acknowledge that even after accepting and/ or confirming an order, the Company cannot guarantee its availability. The Company shall make reasonable efforts to connect you with the independent sellers in order to fulfil your order.

            4.5. You acknowledge that the time period for the delivery of products/ services is estimated and proximate in nature. The Company does not guarantee that such products/ services shall be delivered to you and or delivered within the time period mentioned while placing the order.

            GENERAL TERMS OF USE

            5.1.You hereby explicitly agree to be bound by the Terms by using the platform(s), whether such usage is for the purpose of any purchase or not.

            5.2.You are hereby authorised to use the platform(s) for lawful purposes or for the purposes as mentioned in the Terms.

            5.3. Any unauthorized use of the platform(s) shall lead to legal consequences against such user as per the applicable laws of the land.

            5.4. The prices and availability of the products offered on the platform(s) are subject to change, without any prior intimation/ notice or any consequential liability on the Company.

            5.5. Any/ all offers on products shall be for a limited period of time, as mentioned under on the platform(s). The Company may at its sole discretion modify, extend, update or withdraw the offers on products without any prior intimation/ notice to the user.

            5.6. The Company shall endeavour to provide accurate products, services and pricing information. In the event that a product or service is listed at an incorrect price or with incorrect information due to an error in pricing or product or service information, the Company may, at its sole discretion, either contact the user for instructions or cancel the order, which the user shall be notified about.

            5.7. The Company is entitled to display prices of product(s) or service(s) in accordance with prices received from either the seller(s)/ manufacturer(s)/ distributor(s) or any other person(s)/ entity(s) responsible/ authorized to sell their products on the platforms. The Company shall have the right to modify such prices of product(s) or service(s) at any time, without any prior information. The Company shall not be held liable for changes in prices of product(s) or service(s) beyond its reasonable control. Such instances may include but not be limited to, change in maximum retail price (MRP) from the seller(s)/ manufacturer(s)/ distributor(s) or any other person(s)/ entity(s), change in the batch number of the product(s) or services(s) leading to a change in MRP etc.

            5.8. The Company may, at any time due to various reasons, including but not limited to technical errors, unavailability of stocks or for any other reasons beyond its reasonable control, whatsoever, cancel the orders placed by the user(s)/ customers. The Company’s decision of cancellation of such order(s) shall be final and the Company shall not be held liable for such cancellation, whatsoever. If the order is cancelled after a successful payment is made by the user credit card has been charged, the Company shall endeavour to pay the aid amount shall be reversed the payment in the user's source payment method whether, debit card, credit card, bank account, UPI or any other method.

            5.9. In case of requests for order cancellations, the Company, at its sole discretion, reserves the right to accept or reject requests for such order cancellations for any reason whatsoever, without being liable to show cause to the user(s). As part of usual business practice, if the Company receives a cancellation notice and the order has not been processed by the Company, the Company shall endeavour to cancel the order and refund the same amount paid by the user within a reasonable period of time.

            5.10. In case the order has already been processed, it is pertinent to note that the Company shall not cancel the same and shall reserve full rights to decide whether to process the order or not. The user hereby agrees and undertakes that the decision made by the Company in such a case, is acceptable to the user and the user shall not hold the Company liable against any damages and/ or delays and shall indemnify the Company against any legal consequences.

            5.11. Under no circumstances shall the Company's liability exceed giving the user a replacement of the same product(s) or service(s) and/ or an alternate product or service of the same monetary value;

            5.12. The user(s) shall be prohibited from carrying out any illegal activity on the platform(s) including but not limited to the acts mentioned, violating or attempting to violate the integrity or security of the platform(s); transmitting any information on or through the platform(s) that is disruptive or competitive to the provision of our Services; intentionally or unintentionally submitting on the platform(s) any incomplete, false or inaccurate information; making any unsolicited communications to other Users; using any engine, software, tool, agent or other device or mechanism (such as spiders, robots, avatars, scripts or intelligent agents) to navigate or search the platform(s); circumventing or disabling any digital rights management, usage rules, or other security features of the platform(s). Any unlawful activities on the platform(s) are prohibited by the laws of India.

            5.13. We may disclose or transfer user-generated information to our affiliates or Governmental authorities in such a manner as permitted or required by applicable laws. You hereby consent to such transfer of information by us. In accordance with the applicable laws, we shall transfer sensitive personal data or information including any information, to any other body corporate or a person in India, or located in any other country, that ensures the same level of data protection that is adhered to by us, only if such transfer is necessary for the performance of the lawful contract between the Company or any person on its behalf and the user or where the user has consented to data transfer.

            5.14. You represent and warrant that any information provided by you in connection with your use of the platform(s) is and shall remain true, accurate and complete and if any information you provide to us is false, inaccurate, obsolete or incomplete, we may terminate your use of and access to the platform(s).

            5.15. You agree that the Company may, in accordance with its Privacy Policy, collect and use your information, technical data, and related information for the validation of the documents submitted. The Company may use information and data pertaining to your use of the Services for analytics, trends identification, and purposes of statistics to further enhance the effectiveness and efficiency of the platform(s) and transfer the same to its affiliates and service providers in furtherance of your access to these Services. You consent to such use and sharing of your information.

            5.16. Subject to applicable laws, the Company may be directed by law enforcement agencies or the Government and related bodies to disclose data in relation to Users in connection with criminal proceedings. You understand and agree that in such instances, the Company shall have the right to share such data with relevant agencies or bodies.

            DISPUTE RESOLUTION AND GOVERNING LAW

            6.1. These terms and conditions are subject to Laws, as amended from time to time, in the Republic of India and any dispute shall be subject to the jurisdiction of the courts in Gurugram, Haryana (India) only, and may be modified by Company at any time, for which Company shall not liable to notify the users.

            6.2. In case of any dispute or difference between the User(s) and the Company, regarding the interpretation of these terms, any claims or any disputes arising out of or pursuant to these terms, the same shall first be resolved by mutual discussion. In case such claims or disputes are not resolved by mutual discussion, the same shall then be referred to a sole arbitrator, who shall be appointed by mutual consent. The proceedings shall be conducted under the provisions of the Arbitration and Conciliation Act, 1996, and the courts of Gurugram, Haryana shall have sole jurisdiction over the matter and/ or for the enforcement of the outcome, as the case may be.

            MODIFICATIONS TO THESE TERMS OF USE

            7.1.The Company shall reserve the right, at its sole discretion, to unilaterally change, modify or otherwise alter these Terms and Conditions at any time. Such modifications shall become effective immediately upon the posting thereof. The Company shall not intimate any changes to its users however, the user must review these terms from time to time or on a regular basis to keep themselves apprised of all or any changes.  The user can find the most recent/ updated version of such terms at https://UITOUX.com/pages/terms_and_conditions_of_use.html.

            CONTENT

            8.1. The content on UITOUX includes information provided and created by manufacturers, distributors, dealers, advertisers, content partners, software developers, publishers, marketing agents, users, resellers and other third parties. While every attempt shall be made to ascertain the authenticity of the content on the platform(s), the Company has no control over the accuracy of such information on its pages, and/ or material on the platform(s) which may include but not be limited to, technical inaccuracies or typographical errors. The Company makes no guarantees, nor can be held responsible for any such information, including its authenticity, currency, content, quality, copyright compliance or legality, or any resulting loss or damage. All data and/or information on the product(s) and service(s) including but not limited to, the prices and the availability of any product or service or any feature thereof is subject to change without notice to the party providing it. The Company shall reserve the right, in its sole discretion and without any obligation, to make improvements to, or correct any error or omissions in, any portion of the platform(s). Where appropriate, the Company will endeavour to update information listed on the platform(s) from time to time, but shall not be held liable for any inaccuracies and/ or errors.

            INTELLECTUAL PROPERTY RIGHTS

            9.1. All rights, titles and interests including trademarks and copyrights in respect to the domain name and website content hosted on the platform(s) are reserved by the Company or the respective manufacturer. The platform(s) is designed, updated and maintained independently by the Company.  Users are permitted to read, print or download text, data and/or graphics from the site for their personal use only. Unauthorized access, reproduction, redistribution, transmission and/ or dealing with any information contained in this platform(s) in any other manner, either in whole or in part, are strictly prohibited, failing which the Company shall take legal action against such users. You understand that all postings, data, messages, text, files, images, photos, video, sounds, or other materials ("Content") posted on, transmitted through, or linked with the service, are the sole responsibility of the person from whom such Content originated. More specifically, you are entirely responsible for all content that you post, email or otherwise make available by using our service. You may not decompile or disassemble, reverse engineer or otherwise attempt to discover any source code contained on the platform(s). You understand that Company does not entirely control, and is not responsible for Content made available through the service and that by using the service, you may be exposed to Content that is offensive, indecent, inaccurate, misleading, or otherwise objectionable. Furthermore, the UITOUX website and Content available through the service may contain links to another platform (s), which are completely independent of UITOUX.

            9.2. Although the Company does not claim ownership of Content that its users post, by posting Content to any public area of the platform(s), you automatically grant, and you represent and warrant that you have the right to grant, to the Company an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display, and distribute the said Content and to prepare derivative works of, or incorporate into other works, said Content, and to grant and authorize sublicenses (through multiple tiers) of the foregoing. Furthermore, by posting Content to any public area of the platform(s), you automatically grant the Company all rights necessary to prohibit any subsequent aggregation, display, copying, duplication, reproduction, or exploitation of the Content on the platform(s) by any party for any purpose.

            9.3. All components of the platform(s) are the property of the company and protected by the intellectual property rights recognised in the Republic of India and shall include, as amended from time to time, The Patents Act, 1970; The Trade Marks Act, 1999 and The Copyright Act, 1957. Users shall not acquire any rights, including rights in or to any software, trademarks or components of the platform(s), by access or use of the platform(s). The copyright notices and trademarks may not be changed or removed. The components of the platform(s) may not be reproduced in whole or in part in any manner or form (including electronic or printed form) without the prior written consent of the Company and unless full acknowledgement of the source is provided.

            9.4. You and we acknowledge that, in the event of any third party claim that the platform(s) infringes the third party’s intellectual property rights, we shall be solely responsible for the investigation, defence, settlement and discharge of any such intellectual property infringement claim; provided such infringement was not caused by us.

            LICENSE

            10.1. Subject to your compliance with these terms, the Company grants you a limited, non-exclusive, non-sublicensable, revocable, non-transferable licence to (i) access and use the platforms on your personal device solely in connection with your use of the Services; and (ii) access and use any content, information, and related materials that may be made available through the Services, in each case, solely in connection with your use of the Services. The Company and its licensors reserve all rights not expressly granted herein.

            10.2. You will not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the platform(s) and Services, except as expressly permitted in the Terms and Conditions. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by the Company or its licensors, except for the licenses and rights expressly granted in the Terms and Conditions. The platform(s) and the intellectual property rights vested therein are owned by the Company.

            DISCLAIMER OF WARRANTIES

            11.1. The platform(s) and the service(s) are provided on an "as is" or "as available" basis, without any warranties of any kind. The Company makes no representation or warranties as to the accuracy, completeness or authenticity of the information contained on the platform(s). The Company makes no representation of Maruti or Maruti Suzuki, Hyundai, Tata Motors, Mahindra, Fiat, Honda, Hindustan Motors, Toyota, Nissan, General Motors, Chevrolet, Audi, BMW, Volvo, Jaguar, Land Rover, Mercedes and other Vehicle Manufacturer(s)/ Car brand(s) and its associate(s)/ affiliate(s)/ subsidiary(s) in any manner, whatsoever, until clearly specified association or agreement with such associate(s)/ affiliate(s)/ subsidiary(s), whether directly or indirectly, are mentioned and/ or clearly/explicitly stated on the UITOUX website.

            11.2. Your linking/ redirecting to any other platform(s) is at your own risk. You agree that you must evaluate, and bear all risks associated with, the use of any content(s), product(s) and/ or service(s) and that under no circumstances shall the Company be liable in any way for any loss or damage of any kind incurred as a result of the use of any Content/ Product/ Service posted, emailed or otherwise made available via the service. You acknowledge that UITOUX does not always pre-screen or approve Content (unless specified), but that UITOUX shall have the right (but not the obligation), at its sole discretion to refuse, delete or move any Content that is available via the service, for violating the letter or spirit of the Terms of Use or for any other reason, whatsoever.

            THIRD-PARTY CONTENT, SITES, AND SERVICES

            12.1. The UITOUX platform(s) and Content available through the service may contain features and functionalities that may link you or provide you with access to third-party content which is completely independent of UITOUX, including websites, directories, servers, networks, systems, information and databases, applications, software, programs, products or services, and the Internet as a whole. Your interactions with organizations and/or individuals found on or through the service, including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such organizations and/or individuals. The Company shall not be held responsible for any content, product(s) and/ or service(s) offered on the website(s) other than UITOUX even in cases where the user is redirected to such website(s) from UITOUX.

            12.2. The user shall be wholly responsible for consuming content, availing the product(s) and services(s) rendered on other websites, shall make themselves aware of the guidelines and terms of such websites and indemnify the Company against any damages or losses arising out of the content, product(s) and/ or service(s) of any other website other than UITOUX. You should make whatever investigation you feel necessary or appropriate before proceeding with any online or offline communication/ transaction with any of these third parties. You agree that the Company cannot be held responsible or liable for any loss or damage of any sort incurred as the result of any such dealings.

            12.3. If there is a dispute between participants on this platform(s), or between users and any third party, you understand and agree that the Company is under no obligation to become involved. In the event that you have a dispute with one or more other users, you hereby release the Company, its representatives, officers, employees, agents and successors in rights from claims, demands and damages (actual and consequential) of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to such disputes and/ or our service. Customer disputes with workshops/ outlets/ shops/ producers/ manufacturers and/ or suppliers providing information or goods to customers, also routed through UITOUX, shall be considered as a third party.

            12.4. UITOUX deals with manufacturer(s), producer(s) and supplier(s) and offers their catalogue to users as a mediator. We recommend you consult with any workshop or specialist while choosing any product(s) or service(s) intended for installation in your car. In the case of any compatibility, fitment and/or quality issue(s) with the product(s) or service(s) the Company does not take any responsibility for such issues and quality of the products but may, at its sole discretion, assist/ help the user to resolve their issues with the mutual discussion between them and the supplier.

            12.5. The user is not entitled to claim damages from the Company for any issues with the product(s) and service(s), their  prices, discounts, quality and fitment.

            PRIVACY AND INFORMATION DISCLOSURE

            13.1. The Company has established a Privacy Policy to explain to users how their information is collected and used, which can be accessed using the following link -  https://UITOUX.com/pages/static/privacy-policy/. Your use of the platform(s) or the service(s) signifies you have read, understood and acknowledged our Privacy Policy. You further acknowledge and agree that Company may, at its sole discretion, preserve or disclose your content, as well as your information, such as email addresses, IP addresses, timestamps, and other user information, if required to do so by any law or in the good-faith, that such preservation or disclosure is reasonably necessary to comply with legal process, enforce these Terms respond to claims that any Content violates the rights of third parties, respond to claims that contact information (e.g. phone number, address) of a third-party has been posted or transmitted without their consent or as a form of harassment; protect the rights, property, or personal safety of UITOUX, its users or the general public.

            CONDUCT

            You agree not to post, email, or otherwise make available content:

            14.1. that is unlawful, harmful, threatening, abusive, harassing, defamatory, libelous, invasive of another's privacy, or is harmful to minors in any way;

            14.2. that is pornographic in nature;

            14.3. that harasses degrades, intimidates or is hateful toward an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;

            14.4. that impersonates any person or entity or falsely states or otherwise misrepresents your affiliation with a person or entity;

            14.5. that includes personal or identifying information about another person without that person's explicit consent;

            14.6. that is false, deceptive, misleading, deceitful, or constitutes "bait-and-switch";

            14.7. that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party, or Content that you do not have a right to make available under any law or under contractual or fiduciary relationships;

            14.8. that constitutes or contains "affiliate marketing," "link referral code," "junk mail," "spam," "chain letters," "pyramid schemes," or unsolicited commercial advertisement; that constitutes or contains any form of advertising or solicitation;

            14.9. that includes links to commercial services or platform(s)s, except as allowed in "services";

            14.10. that advertises any illegal service or the sale of any items the sale of which is prohibited or restricted by any applicable law, including without limitation items the sale of which is prohibited or regulated by Indian law.

            14.11. that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;

            14.12. that disrupts the normal flow of dialogue with an excessive number of messages (flooding attack) to the service, or that otherwise negatively affects other users' ability to use the service; or

            14.13. that employs misleading email addresses, or forged headers or otherwise manipulated identifiers in order to disguise the origin of Content transmitted through the service.

            14.14. Additionally, you agree not to:

            14.14.1. contact anyone who has asked not to be contacted;

            14.14.2. "stalk" or otherwise harass anyone;

            14.14.3. collect personal data about other users for commercial or unlawful purposes;

            14.14.3 use automated means, including spiders, robots, crawlers, data mining tools, or the like to download data from the Service - unless expressly permitted by UITOUX;

            14.14.4. post non-local or otherwise irrelevant Content, repeatedly post the same or similar Content or otherwise impose an unreasonable or disproportionately large load on our infrastructure;

            14.14.5. attempt to gain unauthorized access to UITOUX’s computer systems or engage in any activity that disrupts, diminishes the quality of, interferes with the performance of, or impairs the functionality of, the Service or the UITOUX platform(s); or

            14.14.6. use any form of automated device or computer program that enables the submission of postings on UITOUX without each posting being manually entered by the author thereof (an "automated posting device"), including without limitation, the use of any such automated posting device to submit postings in bulk, or for automatic submission of postings at regular intervals.

            LIMITATIONS ON SERVICE

            15.1. You acknowledge that UITOUX may establish limits concerning use of the service, including the maximum number of days that Content will be retained by the service, the maximum number and size of postings, email messages, or other Content that may be transmitted or stored by the service, and the frequency with which you may access the service. You agree that the Company has no responsibility or liability for the deletion or failure to store any Content maintained or transmitted by the service. You acknowledge that Company reserves the right at any time to modify or discontinue the service (or any part thereof) with or without notice and that Company shall not be liable to you or to any third party for any modification, suspension or discontinuance of the service.

            ACCESS TO THE SERVICE

            16.1. The company grants you limited, revocable, non-exclusive rights to access the platform(s) and to avail the service(s) for your own personal use. These rights do not include any collection, aggregation, copying, duplication, display or derivative use of the service nor any use of data mining, robots, spiders, or similar data gathering and extraction tools for any purpose unless expressly permitted by the Company. A limited exception is provided to general purpose internet search engines and non-commercial public archives that use such tools to gather information for the sole purpose of displaying hyperlinks to the service, provided they each do so from a stable IP address or range of IP addresses using an easily identifiable agent and comply with our robots.txt file. "General purpose internet search engine" does not include a platform(s) or search engine or another service that specializes in classified listings or in any subset of classifieds listings such as jobs, housing, for sale, services, or personals, or which is in the business of providing classified ad listing services. The company permits you to display on your platform(s), or create a hyperlink on your platform(s) to, individual postings on the service so long as such use is for non-commercial and/or news reporting purposes only (e.g., for use in personal web blogs or personal online media).

            FINANCIAL DETAILS

            17.1. The user(s) agree, understand and confirm that the credit/ debit/ prepaid/ gift card details or other financial instrument and/ or details provided/ used, for availing of services on the platform(s) shall be correct and accurate and that the User shall not use the credit /debit/ prepaid/ gift card or any other financial instrument which is not lawfully owned/ obtained by the user. The user also understands that any financial information submitted by the user is directly received by Company’s acquiring bank and not taken by Company directly. The Company shall not be liable for any fraud and/ or unauthorized transaction made on any of its platform(s). The liability for use of a card fraudulently shall be on the user(s) and the onus to 'prove otherwise' shall be exclusively on the user(s). The Company and its associated acquiring bank or financial/ non-financial institutions reserve the rights to recover the cost of goods, delivery/ logistics charges, collection charges and lawyers’ fees from person(s) using the platform(s) fraudulently, initiate legal proceedings against such person(s) for fraudulent use of the platform(s) and any other unlawful acts or acts or omissions in breach of these Terms in accordance with applicable laws of the Land.

            TERMINATION OF SERVICE

            18.1. You agree that Company, in its sole discretion, has the right (but not the obligation) to delete or deactivate your account, block your email or IP address, or otherwise terminate your access to or use of the platforms(s), immediately and without notice, and remove and discard any Content within the Service, for any reason, including, without limitation, if Company believes that you have acted inconsistently with the letter or spirit of the Terms of Use. Further, you agree that the Company shall not be liable to you or any third-party for any termination of your access to the service. Further, you agree not to attempt to use the service after said termination. Sections 2, 3, 6, 9, 10, 15,16,18,19 & 20 shall survive termination of these Terms of Use.

            LIMITATIONS OF LIABILITY & INDEMNITY

            19.1. Under no circumstances shall the Company be liable for direct, indirect, incidental, special, consequential or exemplary damages (even if Company has been advised of the possibility of such damages), resulting from any aspect of your use of the platform(s) or the service, whether the damages arise from use or misuse of the platform(s) or the service, from inability to use the platform(s) or the service, or the interruption, suspension, modification, alteration, or termination of the platform(s) or the service. Such limitation shall also apply with respect to damages incurred by reason of other services or products received through or advertised in connection with the platform(s) or the service or any links on the platform(s), as well as by reason of any information or advice received through or advertised in connection with the platform(s) or the service or any links on the platform(s). These limitations shall apply to the fullest extent permitted by law. In some jurisdictions, limitations of liability are not permitted. In such jurisdictions, some of the foregoing limitations may not apply to you. Our directors, representatives, employees, affiliates, agents, contractors, interns et al. shall not be held liable for indirect, incidental, special, exemplary, punitive or consequential damages, including lost profits, lost data, personal injury or property damage related to, in connection with, or otherwise resulting from any use of the Services, even if the Company has been advised of the possibility of such damages.

            19.2 You agree to defend, indemnify and hold harmless the Company, its officers, subsidiaries, affiliates, successors, assigns, directors, officers, agents, service providers, suppliers and employees, harmless from any claim or demand, including reasonable attorney fees and court costs, made by any third party due to or arising out of Content you submit, post or make available through the service, your use of the service, your violation of the Terms of Use, your breach of any of the representations and warranties herein, or your violation of any rights of another.

            GENERAL PROVISIONS

            20.1. Notices/Report Abuse: All notices from the Company shall be either served by email to your registered email address, by registered post, SMS, or by general notification on the platform(s). Any notice provided to the Company pursuant to the terms or in the event of any abuse or violation of these terms or if you become aware of any objectionable content on the platform(s) should raise a support request using the support form.

            20.2. Severability: If any provision of these Terms is found to be illegal or unenforceable by a court or other competent authority, the remaining provisions of these Terms will remain in effect. If a part of an unlawful or unenforceable provision could be made lawful or enforceable if that part were removed, the rest of the provision will remain in effect (unless that would contradict the clear intention of the clause, in which case the entirety of the relevant provision will be deemed to be deleted).

            20.3. Assignment: You cannot assign or otherwise transfer the terms, or any rights granted hereunder to any third party. The Companys’ rights under the terms are freely transferable by UITOUX to any third party without the requirement of seeking your consent.

            20.4. Waiver: Any failure by the Company to enforce or exercise any provision of the Terms, or any related right, shall not constitute a waiver by the Company of that provision or right.

            20.5. The purpose of these terms is to make you aware of the terms that apply to your use of the Platform and Services. You acknowledge that the Company has given you a reasonable opportunity to review these terms and you have agreed to them.

            20.6. The terms are personal to you and are not assignable or transferable by you except with Company’s prior written consent. The company may assign, transfer or delegate any of its rights and obligations hereunder without any consent.

            20.7. No agency, partnership, joint venture, or employment relationship is created as a result of the terms and neither party has any authority of any kind to bind the other in any respect.

            GENERAL INFORMATION

            21.1. The terms constitute the entire agreement between you and the Company and govern your use of the service, superseding any prior agreements between you and the Company. The terms and the relationship between you and the Company shall be governed by the Indian laws without regard to its conflict of law provisions. You and Company agree to submit to the exclusive jurisdiction of the courts located in Gurgaon, India. The failure of the Company to exercise or enforce any right or provision of the terms shall not constitute a waiver of such right or provision. If any provision of the terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavour to give effect to the parties intentions as reflected in the provision, and the other provisions of the terms remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the service or the terms must be filed within one (1) year after such claim or cause of action arose or be forever barred. It is entirely the sole decision of the Company to use any kind of promotion, channels of promotion to generate leads. Different ways of (channel of) promotion may be any of the following mentioned - SMS campaign, pamphlets distribution, newspapers advertisement, yellow pages, distribution of coupons, online promotion, platform(s) exchange links and any other way of promotion. The promotion channel will be decided by the Company for awareness and generation of leads. All users and suppliers agree to allow the Company to use promotional material for the generation of leads. Further explanation of this agreement, Company is doing exclusive promotion by creating directory/subdomain web pages of car part supplier members to generate leads.

            DO-IT-YOURSELF AND CAR CARE TIPS OR ARTICLES

            22.1. The information contained in car care articles, tips, do-it-yourself guides, is for knowledge and educational purposes only and cannot substitute for the advice of a professional car/auto mechanic or authorized car workshop or authorized car part dealer or service station. Please don't attempt to replace your car parts if you don't have proper knowledge and tools, you can be injured and your vehicle could be damaged. Take your car to a dealer or a workshop.

            PICTURES / PHOTOS USED IN THE PLATFORM(S)

            23.1. The platform(s) content has pictures. The picture is representative of a concept or service, not necessarily the original or true copy of the product or service sold.

            CONTACTING YOU

            24.1. The Company reserves the right to contact you through telephone, email, SMS, or any other means of communication for the purpose of obtaining feedback in relation to platform(s) or our Services; obtaining feedback in relation to any other users listed on the platform(s); or resolving any complaints, information, or queries by other users regarding your critical content. You agree to provide your fullest cooperation further to such communication by the Company. You agree that we can use and share your feedback for any purpose without any compensation to you and we are under no obligation to keep such feedback confidential.

            GRIEVANCE OFFICER

            In accordance with Information Technology Act 2000 and rules made thereunder and the Consumer Protection (E-Commerce) Rules, 2020, the name and contact details of the Grievance Officer are provided below:
        </div>
    </div>
</div>