<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">

        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @* <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-1.png">
            </a>
        </div>

        @* <div class="col-lg-3 col-md-4 pb-1"> *@
        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-2.png" alt="">
            </a>
        </div>
        @* </div> *@

        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px;width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-3.png" alt="">
            </a>
        </div>


        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-4.png" alt="">
            </a>
        </div>


        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*  <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-5.png" alt="">
            </a>
        </div>

        @*  <div class="col-lg-3 col-md-6 pb-1"> *@
        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-6.png" alt="">
            </a>
        </div>
        @*  </div> *@


        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-7.png" alt="">
            </a>
        </div>


        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-8.png" alt="">
            </a>
        </div>

    </div>
    <div class="row px-xl-5 pb-3">


        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px;  width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-9.png" alt="">
            </a>
        </div>

        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-10.png" alt="">
            </a>
        </div>

        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-11.png">
            </a>
        </div>


        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-12.png">
            </a>
        </div>


        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-13.png">
            </a>
        </div>

        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px;  margin-right:10px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-14.png" alt="">
            </a>
        </div>

        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px;  width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-15.png" alt="">
            </a>
        </div>

        <div class="cat-item d-flex flex-column border mb-4" style="margin-right:25px; width:100px;">
            @*   <p class="text-right">15 Products</p> *@
            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="~/source-images/brand-16.png" alt="">
            </a>
        </div>


    </div>
</div>
<!-- Categories End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2>Categories</h2>
    <div class="row px-xl-5 pb-3" id="categoriesRow">
    </div>

</div>
<!-- Categories End -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/js/CategoryController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new CategoryController();
        ctrl.init();
    })
</script>